@page
@model RazorMessageWall.Pages.MessageWallModel
@{
    ViewData["Title"] = "Message Wall";
}
    <h1>Message Wall</h1>
    <form method="post">
        @for (int i = 0; i < Model.Messages.Count; i++)
    {
        <input type="hidden" asp-for="Messages[i]"/>
    }
        <input asp-for="Message" type="text" placeholder="Enter Message" />
        <button type="submit" class="btn btn-primary">Submit</button> 
    </form>
    <h3>These are the message</h3>
    @foreach(var item in Model.Messages)
    {
        
        <h3>@item</h3>
    }