<!DOCTYPE html>
<html>
<head>
    <title>Cascading Data</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/cascadingdata.js"></script>
    <style>
        table {            
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Cascading Data</h2>       
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Country Id</th>
                    <th>Country Name</th>
                    <th>State Name</th>
                    <th>City Name</th>
                </tr>
            </thead>
            <tbody class="tbody">
              
            </tbody>
        </table>
        <hr />
        </div>
    
</body>
</html>

